name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: macos-12
    env:
      DEVELOPER_DIR: /Applications/Xcode_13.4.1.app

    steps:
      - uses: actions/checkout@v2
      
      - name: Build
        run: swift build -v
        
      - name: Run tests
        run: swift test -v

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: norio-nomura/action-swiftlint@3.2.1
